@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Source+Serif+4:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Serif 4', 'Merriweather', Georgia, 'Times New Roman', serif;
  background-color: #f9f7f3;
  color: #1f2933;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', 'Source Serif 4', Georgia, 'Times New Roman', serif;
  font-weight: 600;
  color: #111827;
}

p,
li {
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
